@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>*@
</hgroup>

<article>
    <p>
       Eric J. Pellegrino is a web developer currently residing in Buffalo, New York.  
    </p>

    <p>
        I enjoy all types of music and in my free time love visitng micro-brewering.
    </p>

</article>

